// Фаил обнуляюших стилей
@import url(../css/css-обнуление.css);
// шрифты
@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Russo+One&display=swap');
//

//роб область


.wrapper {
	min-height: 100%;
	background-color: rgb(255, 255, 255);
	background: url('/img/1618426182_3-funart_pro-p-oboi-fon-staraya-bumaga-3.jpg') 0 0 repeat;
}
.header {
	border-bottom: 2px solid rgb(7, 82, 57);
	padding: 0px 0px 0px 0px;
}
.container {
	max-width: 1200px;
	margin: 0px auto;
}
.header__row {
	display: flex;
	flex-direction: column;
}
.header__title {
	margin: 0px auto;
	font-family: 'Russo One', sans-serif;
	margin: 55px 0px 5px 0px;
	font-size: 56px;
	letter-spacing: 2px;
	//font-weight: 600;
	color: rgb(10, 128, 88);
	width: 455px;
	height: 56px;
	//border: 1px solid black;
border-radius: 40px 0px 50px 0px ;
overflow: hidden;
	margin: 55px auto 5px auto;
}
.header__title p{
}
.header__menu {
}
.menu {
	font-family:'Crimson Pro';
	margin: 30px 0px 0px 0px;
	display: flex;
	justify-content: center;
	.item a{
		color:rgb(10, 128, 88);
		font-size: 33px;
		margin: 0px 30px 0px 0px;
		font-weight: 500;
	}

	.item a:hover{
		color:rgb(7, 82, 57);
	}
	.item a:active{
		color:rgb(4, 168, 113);
		//font-weight: 600;
	}
	 li:nth-child(1){
		a{
			text-shadow: 0px 2px 3px rgb(4, 168, 113);
		}
	}
}


.content {
}
.container {
}
.tennis__column {
	
	padding: 0px 0px 20px 0px;
	border-bottom: 2px solid rgb(7, 82, 57);
}
.title {
	font-family:'Crimson Pro';
	font-size: 38px;
	margin: 20px 0px;
}
.tennis__body {
}
.tennis__image {
	margin: 0px 0px 20px 0px;
}
.tennis__image img{

	border: 3px solid #1411c5;
}
.tennis__text {
	
	font-family:'Crimson Pro';
	font-size: 24px;
}
.tennis__text p{
	margin: 10px 0px 0px 0px;
}
.seism__column {
		
	padding: 0px 0px 20px 0px;
	border-bottom: 2px solid rgb(7, 82, 57);
}
.seism__title {
}
.title {
}
.seism__body {
}
.seism__image {
	
	margin: 0px 0px 20px 0px;
}
.seism__text {
	font-family:'Crimson Pro';
	font-size: 24px;
	
	margin: 10px 0px 0px 0px;
}
.niagara__column {
	padding: 0px 0px 20px 0px;
	//border-bottom: 2px solid rgb(7, 82, 57);
}
.niagara__title {
}
.title {
}
.niagara__body {
}
.niagara__image {
	
	margin: 0px 0px 20px 0px;
}
.niagara__text {
	
	font-family:'Crimson Pro';
	font-size: 24px;
	
	margin: 10px 0px 0px 0px;
}