@charset "UTF-8";
@import url(../css/css-обнуление.css);
@import url("https://fonts.googleapis.com/css2?family=Crimson+Pro:wght@400;500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");
.wrapper {
  min-height: 100%;
  background-color: rgb(255, 255, 255);
  background: url("/img/1618426182_3-funart_pro-p-oboi-fon-staraya-bumaga-3.jpg") 0 0 repeat;
}

.header {
  border-bottom: 2px solid rgb(7, 82, 57);
  padding: 0px 0px 0px 0px;
}

.container {
  max-width: 1200px;
  margin: 0px auto;
}

.header__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.header__title {
  margin: 0px auto;
  font-family: "Russo One", sans-serif;
  margin: 55px 0px 5px 0px;
  font-size: 56px;
  letter-spacing: 2px;
  color: rgb(10, 128, 88);
  width: 455px;
  height: 56px;
  border-radius: 40px 0px 50px 0px;
  overflow: hidden;
  margin: 55px auto 5px auto;
}

.menu {
  font-family: "Crimson Pro";
  margin: 30px 0px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.menu .item a {
  color: rgb(10, 128, 88);
  font-size: 33px;
  margin: 0px 30px 0px 0px;
  font-weight: 500;
}
.menu .item a:hover {
  color: rgb(7, 82, 57);
}
.menu .item a:active {
  color: rgb(4, 168, 113);
}
.menu li:nth-child(1) a {
  text-shadow: 0px 2px 3px rgb(4, 168, 113);
}

.tennis__column {
  padding: 0px 0px 20px 0px;
  border-bottom: 2px solid rgb(7, 82, 57);
}

.title {
  font-family: "Crimson Pro";
  font-size: 38px;
  margin: 20px 0px;
}

.tennis__image {
  margin: 0px 0px 20px 0px;
}

.tennis__image img {
  border: 3px solid #1411c5;
}

.tennis__text {
  font-family: "Crimson Pro";
  font-size: 24px;
}

.tennis__text p {
  margin: 10px 0px 0px 0px;
}

.seism__column {
  padding: 0px 0px 20px 0px;
  border-bottom: 2px solid rgb(7, 82, 57);
}

.seism__image {
  margin: 0px 0px 20px 0px;
}

.seism__text {
  font-family: "Crimson Pro";
  font-size: 24px;
  margin: 10px 0px 0px 0px;
}

.niagara__column {
  padding: 0px 0px 20px 0px;
}

.niagara__image {
  margin: 0px 0px 20px 0px;
}

.niagara__text {
  font-family: "Crimson Pro";
  font-size: 24px;
  margin: 10px 0px 0px 0px;
}